{% extends 'proj/proj_base.html.twig' %}

{% block title %}Om projektet{% endblock %}

{% block body %}

    <div class="side-project">
        <h2>Globala målen</h2>
        <ul class="goals-list">
            <li>1 Ingen fattigdom</li>
            <li>2 Ingen hunger</li>
            <li>3 God hälsa och välbefinnande</li>
            <li>4 God utbildning för alla</li>
            <li>5 Jämställdhet</li>
            <li>6 Rent vatten och sanitet</li>
            <li>7 Hållbar energi för alla</li>
            <li>8 Anständiga arbetsvillkor och ekonomisk tillväxt</li>
            <li>9 Hållbar industri, innovationer och infrastruktur</li>
            <li>10 Minskad ojämlikhet</li>
            <li>11 Hållbara städer och samhällen</li>
            <li>12 Hållbar konsumtion och produktion</li>
            <li>13 Bekämpa klimatförändringen</li>
            <li>14 Hav och marina resurser</li>
            <li>15 Ekosystem och biologisk mångfald</li>
            <li>16 Fredliga och inkluderande samhällen</li>
            <li>17 Genomförande och globalt partnerskap</li>
        </ul>
    </div>

    <div class="proj-content">
        <div class="content-project">
            <h1>Om projektet</h1>
            <p>
                Detta projekt syftar till att visualisera indikatorer för hållbarhet som en del av kursen 
                <a href="https://dbwebb.se/kurser/mvc-v2">MVC-v2</a><sup>1</sup>. 
                Målet är att skapa en webbplats som tydligt presenterar olika hållbarhetsindikatorer, 
                med fokus på att öka medvetenheten och förståelsen kring de globala målen för hållbar utveckling. För närmare beskrivning av projektet se
                <a href="https://dbwebb.se/kurser/mvc-v2/kmom10/sustainability">Projekt - Visualisera indikatorer för hållbarhet</a><sup>2</sup>.
            </p>

            <p>
                I samband med att jag analyserade globala målet nummer 7 så kollar vi även på hur energianvändingen och elpriset 
                har sett ut i Sverige de senaste åren. Det var inte allt för länge sen då man införde stora subventioner på elpriset och dessa subventioner var 
                större i vissa regioner än i andra och jag ville kiak lite på detta och se om jag kan få fram någon värdefull data. 
            </p>

         <div class="navigation-buttons">
    <a href="{{ path('proj_goal') }}" class="nav-button">Globala målen</a>
    <a href="{{ path('proj_energy_analysis') }}" class="nav-button">Analys energianvändning Sverige</a>
</div>

            <h2>Referenser</h2>
            <ol>
                <li><a href="https://dbwebb.se/kurser/mvc-v2">MVC-v2</a></li>
                <li><a href="https://dbwebb.se/kurser/mvc-v2/kmom10/sustainability">Projekt - Visualisera indikatorer för hållbarhet</a></li>
            </ol>
        </div>
    </div>

{% endblock %}
