{% extends 'proj/proj_base.html.twig' %}

{% block title %}About the Sustainability Project{% endblock %}

{% block body %}
<h1>About the Sustainability Project</h1>
<p>This project aims to visualize key sustainability indicators to help understand and promote sustainability.</p>
{% endblock %}
