{% extends 'proj/proj_base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
<div class="center">
    <h1>About the Project</h1>
    <p>This project aims to visualize sustainability indicators.</p>
</div>
{% endblock %}
