{% extends 'proj/proj_base.html.twig' %}

{% block title %}Analys energianvändning Sverige{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('graphs_energy_analysis') }}
{% endblock %}

{% block body %}
<div class="proj-content">
    <h1>Analys av energianvändning i Sverige</h1>

    <h2>Inledning</h2>
    <p>
        Sverige är en av världens ledande producenter av förnybar energi, med en betydande andel av sin elproduktion från vattenkraft, 
        kärnkraft och vindkraft. De största elproducerande regionerna inkluderar norra Sverige (vattenkraft) och södra Sverige (kärnkraft) 
        <a https://www.scb.se/hitta-statistik/statistik-efter-amne/energi/energibalanser/kommunal-och-regional-energistatistik/pong/statistiknyhet/kommunal-och-regional-energistatistik/">[1]</a>.
    </p>
    <p>
        Elpriserna i Sverige bestäms av faktorer som väderförhållanden, bränslepriser och kapaciteten i elnätet. 
        Landet är uppdelat i fyra elområden (se1-se4), där priserna kan variera beroende på regional produktion och konsumtion av el. 
        Svenska kraftnät spelar en viktig roll i att hantera flaskhalsintäkter, vilka uppstår när det finns överföringsbegränsningar 
        mellan dessa elområden. Dessa intäkter används för att stabilisera elpriserna och återförs till kunderna 
        <a href="https://www.svk.se/press-och-nyheter/nyheter/allmanna-nyheter/2022/hur-hanger-elpriser-elomraden-och-flaskhalsinkomster-ihop/">[2]</a>.
    </p>

    <h2>Elpriser och Statliga Subventioner</h2>
    <p>
        Under de senaste åren har Sverige upplevt kraftigt ökade elpriser. För att mildra de ekonomiska konsekvenserna för hushåll och företag 
        införde regeringen olika former av elstöd, som finansieras genom flaskhalsintäkter. Dessa stöd har riktats till de mest drabbade områdena, 
        främst i södra Sverige (se3 och se4), och baseras på förbrukningen under specifika perioder. Målet med stöden har varit att stabilisera 
        ekonomin och skydda de mest utsatta <a href="https://www.regeringen.se/regeringens-politik/energikrisen/elstod-hushall/">[3]</a>.
    </p>

    <h3>Graf 1: Län och Elområde Data</h3>
    <div class="table-container">
        {% for elomrade, lans in groupedData %}
            <div class="table-cell">
                <div class="elomrade">{{ elomrade }}</div>
                {% for lan in lans %}
                    <div class="lan">{{ lan }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <p><em>Elområden och län - <a href="https://elavtaldirekt.se/elmarknad/elomraden/">[4]</a> - August 2024</em></p>

    <h3>Graf 2: Årlig snittförbrukning per elområde</h3>
    <canvas id="averageConsumptionChart"></canvas>
    <p><em>Snittförbrukning per elområde från 2015 till 2023.</em></p>
    <p><em>Referens: <a href="https://www.statistikdatabasen.scb.se/pxweb/sv/ssd/START__EN__EN0105__EN0105A/ElAnvSNI2007ArN/table/tableViewLayout1/">[5]</a> - August 2024</em></p>

    <h3>Graf 3: Snittpris per elområde och kWh</h3>
    <canvas id="averageElectricityPriceChart"></canvas>
    <p><em>Snittpris per elområde från 2015 till 2023.</em></p>
    <p><em>Referens: <a href="https://data.nordpoolgroup.com/auction/day-ahead/prices?deliveryDate=latest&currency=SEK&aggregation=Yearly&deliveryAreas=se1,se2,se3,se4">[6]</a> - August 2024</em></p>

    <h3>Graf 4: Population per Elområde</h3>
    <canvas id="populationPerElomradeChart"></canvas>
    <p><em>Population per elområde från 2015 till 2023.</em></p>
    <p><em><p>Referens: Datan har tagits fram genom att importera befolkningsdata per län och sedan fördelas över respektive elområde (SE1, SE2, SE3, SE4) baserat på länets tillhörighet.</p>
</em></p>

    <h3>Graf 5: Consumption per Capita</h3>
    <canvas id="consumptionPerCapitaChart"></canvas>
    <p><em>Consumption per capita per elområde från 2015 till 2023.</em></p>
    <p><em>Referens: Genomsnittlig förbrukning per capita beräknades genom att dela den totala elförbrukningen per elområde med befolkningsantalet för respektive elområde. Datan har hämtats från AverageConsumption och PopulationPerElomrade tabellerna i databasen.</em></p>

    <h3>Graf 6: Årlig kostnad per person</h3>
    <canvas id="annualCostPerPersonChart"></canvas>
    <p><em>Årlig kostnad per person i SEK för varje elområde.</em></p>
    <p><em>Årlig kostnad per person beräknades genom att multiplicera den genomsnittliga förbrukningen per capita med elpriset per elområde. Datan har hämtats från ConsumptionPerCapita och ElectricityPrice tabellerna i databasen.</em></p>

    <hr>

    <h2>Diskussion</h2>
    <p>
        När man analyserar elpriserna och de statliga subventionerna i Sverige, väcks frågan om rättvisa mellan olika regioner. 
        Största delen av den förnybara elproduktionen sker i norra Sverige, där vattenkraft och vindkraft står för en betydande andel av 
        energitillförseln. Trots detta visar Graf 6 att den årliga elkostnaden per person är betydligt högre i område SE1 och SE2 jämfört med område SE4. 
    </p>
    <p>
        Jag förstår att elfrågan är mer komplex än att bara isolera oss till Sverige, men subvensioner som har getts ut är beslutade av Sverige och regeringen 
        vilket kan upplevas som orättvist.
    </p>

    <p>
    Tittar vi på den årliga snittkosntaden per person i dom olika regionerna så tycks det vara så att område SE1 har haft höga årliga kostander 2019 jämfört 
    med dom andra regionerna, men inte subvensionerade man dom då. 
    </p>

   
    <p>
    Drar vi en prallel till vården där vi har en regional fördelning så de regioner som är mer tätbefolkade får också mer resurser i vården. 
    Det har jag själv fått erfara genom att jag som har fött barn i Umeå och Östersund inte fick kostnadsfritt KUB-test och inte heller fick jag två ultraljud 
    för att det är för dyrt, men mina kompisar i Småland och Östergötaland fick både göra KUB-test och två ultraljud. Privat kan jag ju betala för att få samma vård, 
    men då är det min privata hushållsekonomi som påverkas, precis som hushållens ekonomi påverkades i södra Sverige när elpriserna gick upp, skillanden var bara att då 
    valde man att subvensionera. 
    </p>

    <p>
    Jag själv jobbar inom tjänstesektorn, men visst är det intressant att man i artikel "Mest el produceras i Norrland medan mest el används i Västsverige" <a https://www.scb.se/hitta-statistik/statistik-efter-amne/energi/energibalanser/kommunal-och-regional-energistatistik/pong/statistiknyhet/kommunal-och-regional-energistatistik/">[1]</a> 
    pekar på att utöver bostäder är det tjänstesektorn (kontor, handel, hotell, restauranger osv.) som förklarar den stora elkonsumtionen i Stockholm och inte den viktiga industrin som 
    jag många gånger upplevt lyftast som en anledning att mer energi behövs i södra Sverige. Å andra sidan får man inte glömma att branscher så som hotell och resturang sätter 
    mycket folk i arbete och det är ju viktigt för att ekonomin i landet ska fungera överhuvudtaget.
    </p>

<p>
    En anna vinkel man hade viljat utveckla denna anlys med är att jämföra snittlöner, boendkostander, matpriser osv för att få en rättvis bild av hushållens ekonomi. 
    För det viktiga är att ingen annan har det bättre. Men framförallt är det väl viktigast att skattepengar används på bästa sätt, där det verkligen spelar, och det 
    kanske spelar mest roll där majoriteten av väljarna finns som absolut inte vill ha björnar, vargar eller vindkraftverk i närområdet där dom själva bor och verkar.  
    </p>

    <p>
        Frågan om rättvisa subventioner och energikostnader är komplex och kräver en djupare analys.
        Det är viktigt att noggrant granska all tillgänglig data för att undvika missförstånd och säkerställa en rättvis bild. 
        Längs ner redovisas reffernserna och jag har även skrivit in hur jag filtrerat fram data. Värt att beakta är att jag kan ha gjort 
        misstaga när jag tagit fram data då det var väldigt svårt att orientera sig på vissa hemsidor. 
    </p>

    <hr>

    <h2>Referenser</h2>
    <ol>
        <li><a https://www.scb.se/hitta-statistik/statistik-efter-amne/energi/energibalanser/kommunal-och-regional-energistatistik/pong/statistiknyhet/kommunal-och-regional-energistatistik/">Mest el produceras i Norrland medan mest el används i Västsverige</a></li>
        <li><a href="https://www.svk.se/press-och-nyheter/nyheter/allmanna-nyheter/2022/hur-hanger-elpriser-elomraden-och-flaskhalsinkomster-ihop/">Svenska kraftnät - Flaskhalsintäkter</a></li>
        <li><a href="https://www.regeringen.se/regeringens-politik/energikrisen/elstod-hushall/">Regeringen - Elstöd till hushåll</a></li>
        <li><a href="https://elavtaldirekt.se/elmarknad/elomraden/">Elavtal Direkt</a></li>
        <li><a href="https://www.statistikdatabasen.scb.se/pxweb/sv/ssd/START__EN__EN0105__EN0105A/ElAnvSNI2007ArN/table/tableViewLayout1/">SCB - Elanvändning (Välj permanenta bostäder, flerbostadshus, kollektivleveranser och SE1, SE2, SE3, SE4 samt år)</a></li>
        <li><a href="https://data.nordpoolgroup.com/auction/day-ahead/prices?deliveryDate=latest&currency=SEK&aggregation=Yearly&deliveryAreas=se1,se2,se3,se4">Nord Pool Data (Filtrera SE1, SE2, SE3, SE4)</a></li>
        <li><a href="https://www.smhi.se/data/meteorologi/kartor/medel/arsmedeltemperatur-medel">SMHI Årsmedeltemperatur</a></li>
    </ol>
</div>

{% endblock %}
