{% extends 'proj/proj_base.html.twig' %}

{% block title %}Globala mål{% endblock %}

{% block body %}
<div class="side-project">
    <h2>Globala målen</h2>
    <ul class="goals-list">
        <li><a href="#goal1">1 Ingen fattigdom</a></li>
        <li><a href="#goal2">2 Ingen hunger</a></li>
        <li><a href="#goal3">3 God hälsa och välbefinnande</a></li>
        <li><a href="#goal4">4 God utbildning för alla</a></li>
        <li><a href="#goal5">5 Jämställdhet</a></li>
        <li><a href="#goal6">6 Rent vatten och sanitet</a></li>
        <li class="goal7"><a href="#goal7">7 Hållbar energi för alla</a></li>
        <li><a href="#goal8">8 Anständiga arbetsvillkor och ekonomisk tillväxt</a></li>
        <li><a href="#goal9">9 Hållbar industri, innovationer och infrastruktur</a></li>
        <li><a href="#goal10">10 Minskad ojämlikhet</a></li>
        <li><a href="#goal11">11 Hållbara städer och samhällen</a></li>
        <li><a href="#goal12">12 Hållbar konsumtion och produktion</a></li>
        <li><a href="#goal13">13 Bekämpa klimatförändringen</a></li>
        <li><a href="#goal14">14 Hav och marina resurser</a></li>
        <li><a href="#goal15">15 Ekosystem och biologisk mångfald</a></li>
        <li><a href="#goal16">16 Fredliga och inkluderande samhällen</a></li>
        <li><a href="#goal17">17 Genomförande och globalt partnerskap</a></li>
    </ul>
</div>

<div class="proj-content">
    <h1>Analys av utvalt/utvalda globala mål</h1>
    <h2 id="goal7">7 Hållbar energi för alla</h2>
    <p>
        Mål 7 syftar till att säkerställa tillgång till prisvärd, pålitlig, hållbar och modern energi för alla till 2030. Det innefattar att förbättra energieffektivitet, öka andelen förnybar energi och förbättra infrastrukturen för energiöverföring och distribution.
    </p>
    <p>
        Delmålen för mål 7 enligt Agenda 2030 inkluderar:
        <ul>
            <li>7.1: Senast 2030 säkerställa allmän tillgång till tillförlitliga och moderna energitjänster till ett överkomligt pris.</li>
            <li>7.2: Senast 2030 avsevärt öka andelen förnybar energi i den globala energimixen.</li>
            <li>7.3: Senast 2030 fördubbla den globala förbättringstakten i energieffektivitet.</li>
            <li>7.a: Senast 2030 förstärka det internationella samarbetet för att underlätta tillgång till forskning och teknik kring ren energi, inklusive förnybar energi, energieffektivitet och avancerad och renare fossil bränsleteknik, och främja investeringar i energiinfrastruktur och ren energiteknik.</li>
            <li>7.b: Senast 2030 utvidga infrastruktur och uppgradera teknik för att tillhandahålla moderna och hållbara energitjänster för alla i utvecklingsländerna, särskilt de minst utvecklade länderna, små önationer under utveckling och inlandsstater, i enlighet med deras respektive stödprogram.</li>
        </ul>
    </p>
    <p>
        För mer information om mål 7 och dess delmål, besök <a href="https://www.globalamalen.se/om-globala-malen">Globala målen</a><sup>1</sup>.
    </p>

    <p>
        Nedan kommer nu några av delmålen att representeras grafiskt och en kortare diskussion kommer att föras för varje graf som lyfts fram. 
    </p>

    <h3>Graf 1: Förnybar energi i procent</h3>
    <canvas id="renewableEnergyPercentageChart"></canvas>
    <p class="chart-description"><em>Förnybar energi som andel av total energiproduktion från 2008 till 2021.</em></p>
    <p class="chart-description"><em>Referens: <a href="https://www.sverigesmiljomal.se/miljomalen/generationsmalet/fornybar-energi/">Sveriges miljömål</a><sup>2</sup>, <a href="https://www.scb.se/hitta-statistik/temaomraden/agenda-2030/mal-7/#141072">SCB</a><sup>3</sup></em></p>

    <h3>Graf 2: Förnybar energi i TWh</h3>
    <canvas id="renewableEnergyTWhChart"></canvas>
    <p class="chart-description"><em>Totala TWh av förnybar energi producerad från 2008 till 2021.</em></p>
    <p class="chart-description"><em>Referens: <a href="https://www.scb.se/hitta-statistik/temaomraden/agenda-2030/mal-7/#141072">SCB</a><sup>3</sup></em></p>

    <h3>Graf 3: Energitillförsel som andel av BNP</h3>
    <canvas id="energySupplyGDPChart"></canvas>
    <p class="chart-description"><em>Energitillförsel som procentandel av BNP från 2008 till 2021.</em></p>
    <p class="chart-description"><em>Referens: <a href="https://www.scb.se/hitta-statistik/temaomraden/agenda-2030/mal-7/">SCB</a><sup>3</sup></em></p>

    <hr>

    <h2>Sammanfattning av Grafer</h2>
    <p>
        Graf 1 visar hur andelen förnybar energi av den totala energiproduktionen har förändrats mellan 2008 och 2021. Trenden visar en stadig ökning vilket indikerar en positiv utveckling mot hållbar energiproduktion. 
        Graf 2 presenterar den totala produktionen av förnybar energi i terawattimmar (TWh) under samma period, vilket också visar en ökning, särskilt under de senaste åren. 
        Graf 3 visar energitillförsel som andel av BNP och hjälper oss förstå hur energianvändningen förhåller sig till den ekonomiska tillväxten. Den visar hur effektiviteten i energianvändningen har förändrats över tid.
    </p>
    <p>
        Sammantaget visar dessa grafer att Sverige gör framsteg mot en hållbar energiförsörjning, men det finns fortfarande utmaningar kvar att övervinna för att uppnå de globala målen till 2030.
    </p>

    <hr>

    <h2>Referenser</h2>
    <ol>
        <li><a href="https://www.globalamalen.se/om-globala-malen">Globala målen</a></li>
        <li><a href="https://www.sverigesmiljomal.se/miljomalen/generationsmalet/fornybar-energi/">Sveriges miljömål</a></li>
        <li><a href="https://www.scb.se/hitta-statistik/temaomraden/agenda-2030/mal-7/#141072">SCB</a></li>
    </ol>
</div>

{% endblock %}
