{# templates/proj/goal.html.twig #}
{% extends 'proj/proj_base.html.twig' %}

{% block title %}Globala mål{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('graphs_goal') }}
{% endblock %}

{% block body %}
<div class="side-project">
    <h2>Globala målen</h2>
    <ul class="goals-list">
        <li><a href="#goal1">1 Ingen fattigdom</a></li>
        <li><a href="#goal2">2 Ingen hunger</a></li>
        <li><a href="#goal3">3 God hälsa och välbefinnande</a></li>
        <li><a href="#goal4">4 God utbildning för alla</a></li>
        <li><a href="#goal5">5 Jämställdhet</a></li>
        <li><a href="#goal6">6 Rent vatten och sanitet</a></li>
        <li class="goal7"><a href="#goal7">7 Hållbar energi för alla</a></li>
        <li><a href="#goal8">8 Anständiga arbetsvillkor och ekonomisk tillväxt</a></li>
        <li><a href="#goal9">9 Hållbar industri, innovationer och infrastruktur</a></li>
        <li><a href="#goal10">10 Minskad ojämlikhet</a></li>
        <li><a href="#goal11">11 Hållbara städer och samhällen</a></li>
        <li><a href="#goal12">12 Hållbar konsumtion och produktion</a></li>
        <li><a href="#goal13">13 Bekämpa klimatförändringen</a></li>
        <li><a href="#goal14">14 Hav och marina resurser</a></li>
        <li><a href="#goal15">15 Ekosystem och biologisk mångfald</a></li>
        <li><a href="#goal16">16 Fredliga och inkluderande samhällen</a></li>
        <li><a href="#goal17">17 Genomförande och globalt partnerskap</a></li>
    </ul>
</div>

<div class="proj-content">
    <h2>De globala målen</h2>
    <p>
        De globala målen för hållbar utveckling, även kända som Agenda 2030, består av 17 mål som antogs av FN:s medlemsländer 2015. 
        Dessa mål syftar till att utrota fattigdom, skydda planeten och säkerställa välstånd för alla människor till 2030. 
        Varje mål har specifika delmål och indikatorer som hjälper till att mäta framstegen. 
        För mer information, besök <a href="https://www.scb.se/hitta-statistik/temaomraden/agenda-2030/">SCB:s Agenda 2030-sida</a><sup>3</sup> och <a href="https://www.scb.se/hitta-statistik/statistik-efter-amne/miljo/miljoekonomi-och-hallbar-utveckling/indikatorer-for-hallbar-utveckling/produktrelaterat/Fordjupad-information/fakta-om-indikatorer-for-hallbar-utveckling/">Fakta om indikatorer för hållbar utveckling</a><sup>4</sup>.
    </p>
    
    <h2>Avgränsningar i projektet</h2>
    <p>
        Jag har valt att fokusera på globala målet nummer 7: Hållbar energi i Agenda 2030. 
        Detta mål är centralt för att säkerställa tillgång till prisvärd, pålitlig, hållbar och modern energi för alla till 2030.
    </p>
    
    <h2 id="goal7">7 Hållbar energi för alla</h2>
    <p>
        Mål 7 syftar till att säkerställa tillgång till prisvärd, pålitlig, hållbar och modern energi för alla till 2030. 
        Det innefattar att förbättra energieffektivitet, öka andelen förnybar energi och förbättra infrastrukturen för energiöverföring och distribution<sup>1</sup>.
    </p>
    <p>
        För mer information om mål 7 och dess delmål, besök <a href="https://www.globalamalen.se/om-globala-malen">Globala målen</a><sup>1</sup>.
    </p>

    <p>
        Nedan kommer nu några av delmålen att representeras grafiskt och en kortare diskussion kommer att föras för varje graf som lyfts fram. 
    </p>

    <h3>Graf 1: Förnybar energi i procent</h3>
    <canvas id="renewableEnergyPercentageChart"></canvas>
    <p><em>Förnybar energi som andel av total energiproduktion från 2008 till 2021.</em></p>
    <p><em>Referens: <a href="https://www.sverigesmiljomal.se/miljomalen/generationsmalet/fornybar-energi/">Sveriges miljömål</a><sup>2</sup>, <a href="https://www.scb.se/hitta-statistik/temaomraden/agenda-2030/mal-7/#141072">SCB</a><sup>3</sup></em></p>

    <h3>Graf 2: Förnybar energi i TWh</h3>
    <canvas id="renewableEnergyTWhChart"></canvas>
    <p><em>Totala TWh av förnybar energi producerad från 2008 till 2021.</em></p>
    <p><em>Referens: <a href="https://www.scb.se/hitta-statistik/temaomraden/agenda-2030/mal-7/#141072">SCB</a><sup>3</sup></em></p>

    <h3>Graf 3: Energitillförsel som andel av BNP</h3>
    <canvas id="energySupplyGDPChart"></canvas>
    <p><em>Energitillförsel som procentandel av BNP från 2008 till 2021.</em></p>
    <p><em>Referens: <a href="https://www.scb.se/hitta-statistik/temaomraden/agenda-2030/mal-7/">SCB</a><sup>3</sup></em></p>

    <hr>

    <h2>Sammanfattning av graferna</h2>
    <p>
        Sverige är på väg åt rätt håll när det gäller att öka andelen förnybar energi och förbättra energieffektiviteten. 
        Graferna visar en stadig ökning i andelen förnybar energi och en minskning i energitillförselns andel av BNP, vilket indikerar en positiv utveckling.
        Dock finns det fortfarande utmaningar att möta för att säkerställa att målen för 2030 uppnås.
    </p>

    <hr>

    <h2>Referenser</h2>
    <ol>
        <li><a href="https://www.globalamalen.se/om-globala-malen">Globala målen</a></li>
        <li><a href="https://www.sverigesmiljomal.se/miljomalen/generationsmalet/fornybar-energi/">Sveriges miljömål</a></li>
        <li><a href="https://www.scb.se/hitta-statistik/temaomraden/agenda-2030/mal-7/#141072">SCB</a></li>
        <li><a href="https://www.energimyndigheten.se/statistik/">ENERGIMYNDIGHETEN</a></li>
        <li><a href="https://www.smhi.se/data/meteorologi/temperatur/">SMHI</a></li>
    </ol>
</div>
{% endblock %}
