{% extends 'proj/proj_base.html.twig' %}

{% block title %}Globala mål{% endblock %}

{% block body %}
    
        <div class="side-project">
        <h2>Globala målen</h2>
            <ul class="goals-list">
                <li><a href="#goal1">1 Ingen fattigdom</a></li>
                <li><a href="#goal2">2 Ingen hunger</a></li>
                <li><a href="#goal3">3 God hälsa och välbefinnande</a></li>
                <li><a href="#goal4">4 God utbildning för alla</a></li>
                <li><a href="#goal5">5 Jämställdhet</a></li>
                <li><a href="#goal6">6 Rent vatten och sanitet</a></li>
                <li class="goal7"><a href="#goal7">7 Hållbar energi för alla</a></li>
                <li><a href="#goal8">8 Anständiga arbetsvillkor och ekonomisk tillväxt</a></li>
                <li><a href="#goal9">9 Hållbar industri, innovationer och infrastruktur</a></li>
                <li><a href="#goal10">10 Minskad ojämlikhet</a></li>
                <li><a href="#goal11">11 Hållbara städer och samhällen</a></li>
                <li><a href="#goal12">12 Hållbar konsumtion och produktion</a></li>
                <li><a href="#goal13">13 Bekämpa klimatförändringen</a></li>
                <li><a href="#goal14">14 Hav och marina resurser</a></li>
                <li><a href="#goal15">15 Ekosystem och biologisk mångfald</a></li>
                <li><a href="#goal16">16 Fredliga och inkluderande samhällen</a></li>
                <li><a href="#goal17">17 Genomförande och globalt partnerskap</a></li>
            </ul>
        </div>

        <div class="proj-content">
            <h1>Analys av utvalt/utvalda globala mål</h1>
            <h2 id="goal7">7 Hållbar energi för alla</h2>
            <p>
                Mål 7 syftar till att säkerställa tillgång till prisvärd, pålitlig, hållbar och modern energi för alla till 2030. 
                Det innefattar att förbättra energieffektivitet, öka andelen förnybar energi och förbättra infrastrukturen för energiöverföring och distribution<sup>1</sup>.
            </p>
            <p>
                För mer information om mål 7 och dess delmål, besök <a href="https://www.globalamalen.se/om-globala-malen">Globala målen</a><sup>1</sup>.
            </p>
            <hr>
        </div>

{% endblock %}
