{% extends 'proj/proj_base.html.twig' %}

{% block title %}Sustainability Project{% endblock %}

{% block body %}
<div class="proj-center">
    <h1>Project start</h1>
</div>
<div class="proj-row">
  <div class="proj-column1">
    <p>
    Som en del av det examinerande momentet i kursen xxxx så ....
    </p>
    <a href="https://github.com/dbwebb-se/mvc">
        <img src="{{ asset('img/walkator-dwigDz0t6TY-unsplash.jpg') }}" alt="Picture representing webdevelopment code blurry">
    </a>
  </div>
  <div class="proj-column2">
    <h2>Länkar GitHub</h2>
    <ul>
      <li>
        <a href="https://github.com/dbwebb-se/mvc">DV1608 V24 lp4 mvc</a>
      </li>
      <li>
        <a href="https://github.com/takl23/mvc">takl23 mvc</a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
