<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sustainability Project</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="proj-index-body">
    <div class="project-title">
        <a href="{{ path('proj_about') }}">
            <h1>PROJEKTET</h1>
            <i>Visualisera indikatorer för hållbarhet (sustainability)</i>
        </a>
    </div>
    <ul class="goals-list">
        <li>1 No Poverty</li>
        <li>2 Zero Hunger</li>
        <li>3 Good Health</li>
        <li>4 Quality Education</li>
        <li>5 Gender Equality</li>
        <li>6 Clean Water</li>
        <li class="goal7">7 Clean Energy</li>
        <li>8 Decent Work</li>
        <li>9 Industry</li>
        <li>10 Reduced Inequalities</li>
        <li>11 Sustainable Cities</li>
        <li>12 Responsible Production</li>
        <li>13 Climate Action</li>
        <li>14 Life Below Water</li>
        <li>15 Life on Land</li>
        <li>16 Peace & Justice</li>
        <li>17 Partnerships</li>
    </ul>
</body>
</html>
