

<h2 id="kmom03">Redovisning av kmom03</h2>

<p>
Jag har sedan tidigare lite erfarenhet av flödesdiagram men då för att redovisa processer på olika företag. Tyckte det var enkelt att använda som 
verktyg och var ett bra stöd för att skapa en synlig logik för spelet. Pseudokod har jag däremot inte skrivit tidigare och tyckte det var svårt att skriva ner tydlig 
pseudokod. Min pseudokod blev mer en replika av mitt flödesdiagram där jag kort punktade ner de funktioner som jag trodde skulle behövas för att skapa spelet. 
</p>   


<p>
Jag fick kämpa med att genomföra kmom03 och är nöjd med att jag slutför uppgiften och lämnar in, även fast jag är sen med inlämmningen. 
Jag tror att mycket i min kontroller skulle kunna flyttas över till klassen "Game21" för att skapa en bättre struktur. Tex så kanske initiering av 
spelet hade kunnat ske i klassen. Men med den erfarenheten jag har idag får jag säga att jag är nöjd. Stylingen skulle jag gärna också lagt lite 
mera krut på. Skulle även behövt dokumentera bättre i min kod samt vara mer konsekvent med använding av svenska och engelska. 
</p>

<p>
Kort sammanfattat om hur jag löste uppgiften var att jag återanvände de klasser jag hade från kmom02 och gjorde en ny klass för 
spellogiken. 
</p>

            
<p>
Symfony tillhandahåller en strukturerad och standadiserad miljö där det finns dokumentaiton att ta stöd i och det tycker jag är bra och 
tryggt. Men med det sagt så har jag svårt att tillämpa denna dokumentation. Mycket för att man ibland är så fokuserad på uppgiften och 
är väldigt lösningsfokuserad, men också för att man saknar erfarenhet och det är lite tufft att även sätta sig in i "best practice" dokumentationen 
och tillämpa den. 


<p>
    TIL(“Today I Learned”) för kmom03:
 </p>
 
 <ul>
     <li>Lärt mig att använda “code linting and mess detection” </li>
     <li>Att det är svårt att skriva snygg kod</li>
     <li>Jag tror jag har en initial förståelse för Dependecy Injection som innebär att man skapar mer flexibel kod med små delara där varje del har en liten uppgift 
        som den ansvarar för. Min förståelse är att Dependecy Injection ska göra det eklare att skriva om små delar utan att påverka implementation av koden i 
    funktioner etc.  </li>
 </ul>