

<h2 id="kmom05">Redovisning av kmom05</h2>

<p>
Att komma igåmng med Symfony och Doctrine var väldigt smidigt, särskilt då det i 
princip var bara att göra som övningsuppgiften en gång till. Det som jag tabbade mig 
på var att när jag skapade en "entity" så kallade jag den "library" utan att riktigt 
reflektera. Men helt klart skulle det vara mera rimligt att kallat den för "book".

<p>
Applikationen som jag byggde upp i komom05 gjorde jag steg för steg enligt övningsuppgiften, 
samtidigt som jag använde tidigare förvärvda kunskaper när det kommer till "GET" och "POST".
Mellan varven såg jag bara till att applicera lite styling och försökte göra applikationen 
lite användarvänlig också.
</p>

<p>
Att jobba med Doctrine som ORM-verktyg kändes väldigt bra och enkelt att komma igång, dock 
är jag mer bekväm med det mer manuella sättet att sätta upp databaser. Jag känner att jag 
ser vad jag skapar när jag använder den manuella metoden. 
</p>

<p>
Doctrine som ORM-verktyg automatiserade CRUD i databashanteringsprocessen vilket var super och 
gör det enkelt att sätta upp tabeller och struktur för att uppdatera data. 
</p>

<p>
TIL(“Today I Learned”) för kmom05:
Min TIL för detta kursmoment är att jag har lärt mig mer om hur man använder Doctrine i Symfony, 
särskilt för CRUD-operationer. Det har varit intressant att se hur ORM kan förenkla databashanteringen 
och hur smidigt det kan integreras i en Symfony-applikation.
</p>
 