

<h2 id="kmom01">Redovisning av kmom01</h2>
<p>Vet inte hur det ser ut för dom andra studenterna men jag läser "Webbprogrammering och Databaser" 30hp och har ingen tidigare erfarenhet kring objektorienterad programmering. </p>
            
<p>Min förståelse är att klasse är en samlingsgrupp, tex sammlingsgruppen "bil". Varje bil i gruppen kan bestå av egenskaper och metoder. Tex kan egenskaperna vara 
    registreringsnummer, märke på bilen samt färg. Metoderna i klasser är hur man hanterar egenskaperna. Objekten är det som "använder" klasser för att slägga 
    in värden i då detta fall registreringsnummer, märke, färg och man kan skapa många objekt av en klass.  </p>

<p>
    Kodbasen, strukturen och koden som används i uppgiften me/report känns lite spretig och blir mycket html-kod i twigfilerna. 
    I design kursen använde vi också twig men använde oss utav markdown så det blev tydligt att twigfilerna var just templat. 
    Jag tänker ju att detta är något som kommer hanteras längre fram i kursen för att vi ska lära oss att ha ordning och reda i våra projekt, 
    men återstår att se. Men annars tycker jag det är tydligt med vad som skapar router och vad som är våra templat/kod just nu. 
    Det jag upplever som lite otydligt är bildhanteringen, men det funkar för mig just nu så låter det vara.     
</p>

<p>
    Kan nämna att jag valt att likt designkursen använda SASS för enklare hantering av styling av webbplatsen och för att göra rapportskrivningen 
    lite mer organiserad har jag en fil som representerar en rapport för respektive kmom. 
</p>

<p>
    I kmom01 skulle vi läsa artikeln <a href="https://phptherightway.com/">“PHP The Right Way”</a> och kan väl bara kort säga att jag bara ögnat igenom 
    framförallt rubrikerna och tänker att styckerna "Coding Practices" och "Code Style Guide". Men ser som ut att det finns fler stycken som kommer kunna 
    ge en stöd i kursen. Tex stycket "Templating" verkar redan finnas delar av i våran kod som vi började med i kursen så vi hittar nog åt 
    ganska mycket i artikeln som kan vara till hjälp. 
</p>
 
<p>
   TIL(“Today I Learned”) för kmom01:
</p>

<ul>
    <li>Använda en "kontroller" Symfony</li>
    <li>Vad klasser och objekt i PHP är och hur de hänger ihop och används. Även om jag stött på detta tidigare så blev det mer självklart nu. </li>
    <li>Skapat en sida som genereras med JSON, men förstår nog inte riktigt användningsområdet. </li>
</ul>
