

<h2 id="kmom04">Redovisning av kmom04</h2>

<p>
Tycker det funkade ganska bra att skriva tester med PHPUnit, men hade lite svårigheter med att hitta rätt testmetoder i dokumentationen för PHPUnit. 
Jag känner en viss osäkerhet med PHPUnit-testning för tänker att det säkert går att testa min kod bättre, men uppnådde 100% kodtäckning. Hade lite bekymmer med  
DeckOfCardsTest, men det var för att kontrollen med lint klagade hela tiden så det testet kanske är lite väl komplext, men gick igenom till slut.
</p>   


<p>
Jag tycker min kod var testbar och mycket tror jag beror på att jag har replikerat mycket av det vi gör i exemplerna för "Dice" så att koden är ändå hyffsat strukturerad. 
Sen så har jag ganska bra koll på vad mina metoder förväntas utföra så enkelt att kolla så de returnera rätt värden.
</p>

<p>
Jag har alldeles för lite erfarenhet och min kod går säkert att skriva mycket snyggare och bättre med tydligare kommentarer och struktur, 
men ändå så var den testbar, så jag tycker nog inte man kan säga att testbar kod rakt av betyder också att man skriver "snygg och ren kod".
</p>

<p>
TIL(“Today I Learned”) för kmom04:
</p>
 
 <ul>
     <li>Lärt mig att använda PHPUnit testning </li>
     <li>Jag har lärt mig lite mer om att skriva bättre kommernater för min kod och implementerade det för min klass "Card"</li>
 </ul>