<h2 id="proj">Redovisning av projektet</h2>

<p>
PhpMetrics var ett mycket användbart verktyg för att få en visuell överblick över kodens kvalitet och komplexitet där cirklarnas färg och 
storlek gav en tydlig indikation på vilka delar som bör förbättras. 

</p>

<p>
Integrationen med Scrutinizer gick smidigt. Tycker att badges var ett positivt inslag som gav en enkel överblick över kodens kvalitet.
Efter första bygget fick jag ett snittbetyg på 9,85 och en kodtäckning på endast 20%. 
</p>

<p>
Jag är rätt grön på hela programmeringsbiten men har en stor arbetserfarenhet i den medicintekniska branschen där det är av stor vikt att
upprätthålla tydlighet i utveckligen för att underlätta för underhållsarbete samt eftermarknadskrav. I denna bransch finns även tydliga ISO standader 
som man rättar sig efter samt en tydliga krav på språbarhet. Så jag kan väl bara säga att jag har en stor förståelse till varför man vill jobba 
med att upprätthålla en god kodkvalitet där man lätt ska kunna lämna över kod till någon annan samt att man långsiktigt skapar en bra 
förutsättning för underhåll samt uppgraderingar. 
</p>

<p>
Min TIL (Today I Learned) för detta kursmoment är att jag har lärt mig mer om hur man använder PhpMetrics och Scrutinizer 
för att analysera och förbättra kodkvaliteten. Jag har också insett vikten av kontunuerligt jobba med god kodkvalitet så att arbetet inte ska 
kännas övermäktigt.
</p>