.magic {
font-size: xx-large;
    
    writing-mode: sideways-lr;
  

    background: linear-gradient(
    #405950, #595240, #544059, #A582AE, #7ED9B8);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}