.analysisimg1 {
    box-sizing: content-box;  
    margin: auto;
    
    img {
        max-width: 25rem;
    }
}

.analysisimg2 {
    box-sizing: content-box;  
    margin: auto;
    
    img {
        max-width: 50rem;
    }
}