html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body.proj-body, body.proj-index-body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: $background-color;
    color: #333;
    padding: 0;
    min-height: 100%;
}

.proj-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: $font-alternative-color;
    border-bottom: 1px solid $font-color;
}

.back-link {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
}

.proj-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.proj-nav ul li {
    margin: 0 1em;
}

.proj-nav ul li a {
    color: $font-color;
    text-decoration: none;
    font-weight: bold;
}

.proj-nav ul li a:hover {
    text-decoration: underline;
}

.proj-container {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 45rem) 1fr;
    gap: 2em;
    padding: 2em;
    background-color: $font-alternative-color;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
}

.side-project {
    grid-column: 1 / 2;
    border-right: 1px solid #000;
    padding-right: 1em;
    font-size: 1em;
}

.side-project h2 {
    color: rgba(0, 0, 0, 0.2);
}

.proj-content {
    grid-column: 2 / 3;
    text-align: left;
    padding: 1em;
    max-width: 45rem;
}

.goals-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.goals-list li {
    color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
    margin: 10px 0;
}

.goals-list li a {
    color: rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.goals-list li a:hover {
    color: rgba(0, 0, 0, 0.5);
}

.goals-list li.goal7, .goals-list li.goal7 a {
    color: rgba(0, 0, 0, 0.5);
}

.proj-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background: linear-gradient(to right,
        #E5243B 0%, #E5243B 5.88%,
        #DDA63A 5.88%, #DDA63A 11.76%,
        #4C9F38 11.76%, #4C9F38 17.64%,
        #C5192D 17.64%, #C5192D 23.52%,
        #FF3A21 23.52%, #FF3A21 29.40%,
        #26BDE2 29.40%, #26BDE2 35.28%,
        #FCC30B 35.28%, #FCC30B 41.16%,
        #A21942 41.16%, #A21942 47.04%,
        #FD6925 47.04%, #FD6925 52.92%,
        #DD1367 52.92%, #DD1367 58.80%,
        #FD9D24 58.80%, #FD9D24 64.68%,
        #BF8B2E 64.68%, #BF8B2E 70.56%,
        #3F7E44 70.56%, #3F7E44 76.44%,
        #0A97D9 76.44%, #0A97D9 82.32%,
        #56C02B 82.32%, #56C02B 88.20%,
        #00689D 88.20%, #00689D 94.08%,
        #19486A 94.08%, #19486A 100%);
    color: $font-alternative-color;
    text-align: center;
    width: 100%;
    margin-top: auto;
    box-sizing: border-box;
}

.proj-footer p {
    margin: 0;
    padding: 0.5em 0;
}

.center {
    text-align: center;
}

body.proj-index-body {
    justify-content: center;
    align-items: center;
    position: relative;
}

.project-title {
    color: $font-color;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-title a {
    color: $font-color;
    text-decoration: none;
}

canvas {
    width: 100%;
    height: 400px;
}

.chart-description {
    margin-top: 10px;
    font-size: 0.9em;
    color: #555;
    font-style: italic;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.table-container {
    display: flex;
    gap: 20px;
}

.table-cell {
    background-color: $background-alternative-color;
    color: $font-alternative-color;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: small;
}

.elomrade {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.lan {
    font-size: 1em;
}
.navigation-buttons {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    gap: 20px; /* Space between the buttons */
    flex-wrap: wrap; /* Wrap buttons to next line if needed */
    margin: 20px 0;
}

.nav-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px; /* Adjust the size of the circles */
    height: 150px; /* Adjust the size of the circles */
    margin: 10px;
    border-radius: 50%;
    background-color: $background-alternative-color;
    color: $font-color;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, color 0.3s;
    font-size: 14px; /* Adjust text size */
}

.nav-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    color: $hover-color; /* Change text color on hover */
}
