{% extends "base.html.twig" %}
{% block title %}Card game{% endblock %}

{% block body %}
<h1>Represent card</h1>

<p>Here is the value of one card.</p>

<ul>
    <li>{{ card }}</li>
</ul>

{% endblock %}