{% extends "base.html.twig" %}
{% block title %}Pig game{% endblock %}

{% block body %}
<h1>Roll dice hand</h1>

<p>You rolled {{ num_dices }} dices. Here is the value of the dices.</p>

<div class="die">
{% for roll in diceRoll %}
    {{ roll }}
{% endfor %}
</div>

<p>Try to roll 
    <a href="{{ path('test_dicehand', {num: 5}) }}">5</a>
    or 
    <a href="{{ path('test_dicehand', {num: 10}) }}">10</a>
    dices.
</p>
{% endblock %}