{% extends "base.html.twig" %}
{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Game 21 dokumentation</h1>

 <p> För att skapa kortspelet 21 så återanvänder jag de klasser jag skapat i kmom02 som är klassen Card som skapar korten, DeckOfCards som skapar kortleken och CardHand som håller koll på handen för det kort som kommer dras i spelet. 
Utöver detta så tänker jag att jag behöver skapa en klass som skapar spellogiken och beräknar poängen. 
</p>


<h2>Flödesschema</h2>
<div >
    <picture>
        <img src="{{ asset('img/kmom03.png') }}" alt="First itteration of a flowchart for creation of game 21">
    </picture>

</div>


<h2>Psuedokod</h2>

<div >
    <picture>
        <img src="{{ asset('img/psuedokod.png') }}" alt="First itteration of a psueudocode for creation of game 21">
    </picture>

</div>

{% endblock %}