{% extends "base.html.twig" %}
{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Game 21</h1>

<ul>

<li>Spelet går ut på att dra kort så man hamnar så nära som möjligt värdet 21. </li>
<li>Ess är värt 1. </li>
<li>Spelare 1 börjar med att dra kort och stanna när den känner sig nöjd. </li>
<li>Skulle spelare 1 få ett värde som är större än 21 förlorar spelare 1 automatiskt och vinnsten går till spelare 2.</li>
<li>Spelare 2 drar kort när spelare 1 har stannat och samma prinicper gäller som för spelare 1.</li>

</ul>



<a href="{{ path('game21_documentation') }}">>>> Dokumentation</a>
<br>

<hr>
<br>
<form action="{{ path('init21') }}" method="post">
    <button type="submit">Börja spela</button>
</form>


{% endblock %}