{% extends "base.html.twig" %}
{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Player 1's Hand:</h1>
  
        {% for card in player1Hand %}
            {{ card.representCard() }}
        {% endfor %}
  
<h1>Player 1's Score:</h1>

   {{ player1Score }}

<form action="{{ path('draw21') }}" method="post">
    <button type="submit">Dra kort</button>
</form>

    <h1>Player 2's Hand:</h1>
    <ul>
        {% for card in player2Hand %}
            <li>{{ card.representCard() }}</li>
        {% endfor %}
    </ul>



{% endblock %}