{% extends 'base.html.twig' %}

{% block title %}Product view{% endblock %}

{% block body %}

<ul>
    {% for product in products %}
        <li>{{ product.getName|e }} ({{ product.getId|e }}) {{ product.getValue|e }}</li>
    {% endfor %}
</ul>
    
{% endblock %}
