{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}

<div class="center">
<h1>About</h1>
</div>
<div class="row">
  <div class="column1" >
    
  <h2>Kursen</h2>
    <p>
   Denna hemsida är gjord som en del av kursen "DV1608 V24 lp4 Objektorienterade webbteknologier" vid Blekinge Tekniska Högskola. 
   Huvudsyftet med kursen är att få en introduktion till objektorienterad PHP-programmering där man använder webbaserade ramverk. 
   I slutet av kursen är målet att ha utvecklat en webbapplikation där basen för applikationen finns i objektorienterade programmeringsramverk tillsammans med databaser. 
    </p>

    <a href="https://github.com/dbwebb-se/mvc">
        <img src="{{ asset('img/walkator-dwigDz0t6TY-unsplash.jpg') }}" alt="Picture representing webdevelopment code blurry">
    </a>

  </div>
  <div class="column2" >
    <h2>Länkar GitHub</h2>
    <ul>
    <li>
    <a href="https://github.com/takl23/mvc">
        DV1608 V24 lp4 mvc
    </a>
    </li>

     <li>
    <a href="https://github.com/takl23/DV1608-V24-lp4">
        takl23 mvc
    </a>
    </li>

    </ul>
  </div>
</div>

{% endblock %}