{% extends 'base.html.twig' %}

{% block title %}Create New Book{% endblock %}

{% block body %}

    <h1>Welcome to the library</h1>

<div class="grid-two-columns-fix-row">
    <div class="content">
        <div class="library">
            <a href="{{ path('view_library') }}" class="float">
                View all books in library
            </a>
        </div>
    </div>
    <div class="main2">
        <div class="book-form-container">
            <form action="{{ path('library_create_post') }}" method="POST" class="book-form">
                <fieldset>
                    <legend>Add new book to the library</legend>
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" id="title" name="title" required>
                    </div>
                    <div class="form-group">
                        <label for="author">Author:</label>
                        <input type="text" id="author" name="author" required>
                    </div>
                    <div class="form-group">
                        <label for="isbn">ISBN:</label>
                        <input type="text" id="isbn" name="isbn" required>
                    </div>
                    <div class="form-group">
                        <label for="cover">Cover:</label>
                        <input type="text" id="cover" name="cover" required>
                    </div>
                    <button type="submit" class="btn float">ADD</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}
